/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

html, body{
  height:100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: 'Changa One', sans-serif;
  background: #3498db;
}

section {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
  color: #1F1F1F;
  line-height: 1.25em;
}


h1 {
  font-size: 4em;
  line-height: 1.25em;
  text-transform: uppercase;
}

h2 {
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  -moz-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

h3 {
  font-size: 6em;
  color: #1F1F1F;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}

h4 {
  font-size: 2em;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding-top: 200px;
  -moz-animation-delay: 13s;
  -webkit-animation-delay: 13s;
  -o-animation-delay: 13s;
  animation-delay: 13s;
}

h5 {
  font-size: 8em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h5:nth-child(1) {
  color: #fff;
  -moz-animation-delay: 22s;
  -webkit-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

h5:nth-child(2) {
  color: #3498db;
  -moz-animation-delay: 23s;
  -webkit-animation-delay: 23s;
  -o-animation-delay: 23s;
  animation-delay: 23s;
}

h5:nth-child(3) {
  color: #fff;
  -moz-animation-delay: 24s;
  -webkit-animation-delay: 24s;
  -o-animation-delay: 24s;
  animation-delay: 24s;
}

header {
  width: 100%;
  height: 100px;
  text-align: center;
}

.logo {
  width: 100%;
  height: 300px;
  text-align: center;
}

.logo img {
  width: 300px;
  margin: 0 auto;
  display: block;
  padding-top: 100px;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}

/****** ANIMATIONS *******/
.first {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.second {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.third {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fourth {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fifth {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.sixth {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.seventh {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

section.fifth {
  height: 100%;
  background: #000;
  -moz-animation-delay: 12s;
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
  position: absolute;
  top: 0;
}

.left {
  width: 50%;
  left: 0;
}

.right {
  width: 50%;
  right: 0;
}

section.sixth {
  width: 100%;
  height: 100%;
  -moz-animation-delay: 13s;
  -webkit-animation-delay: 13s;
  -o-animation-delay: 13s;
  animation-delay: 13s;
  position: absolute;
  top: 0;
  left: 0;
}

section.seventh {
  width: 100%;
  height: 100%;
  background: #000;
  padding-top: 100px;
  -moz-animation-delay: 22s;
  -webkit-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

.sixth ul {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.sixth ul li {
  width: 25%;
  height: 100px;
  float: left;
  text-align: center;
  font-family: "helvetica";
  padding: 0 40px;
  color: #fff;
}

.sixth ul li img {
  width: 100%;
  display: block;
  border-radius: 100%;
  padding-bottom: 20px;
}


#img1 {
  -moz-animation-delay: 14s;
  -webkit-animation-delay: 14s;
  -o-animation-delay: 14s;
  animation-delay: 14s;
}

#img2 {
  -moz-animation-delay: 16s;
  -webkit-animation-delay: 16s;
  -o-animation-delay: 16s;
  animation-delay: 16s;
}

#img3 {
  -moz-animation-delay: 18s;
  -webkit-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s;
}

#img4 {
  -moz-animation-delay: 20s;
  -webkit-animation-delay: 20s;
  -o-animation-delay: 20s;
  animation-delay: 20s;
}

@-webkit-keyframes fadeInOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0}
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0}
}

.fadeInOut {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
